* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 10px;
  color: white;
}
header h1 {
}

header input {
  padding: 10px 20px;
  border-radius: 5px;
}

.buttons button {
  padding: 10px 20px;
  border-radius: 10px;
}

.buttons button:nth-child(1) {
  background-color: black;
  color: white;
}
.buttons button:nth-child(2) {
  background-color: red;
  color: white;
}
.buttons button:nth-child(3) {
  background-color: white;
}
/* KATEGORİLER */
.category-wrapper {
  padding: 20px;
}
.category-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 10px;
}
.category {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.category img {
  width: 100%;
  border-radius: 10px;
}
.category span {
  background: white;
  border-radius: 10px;
  padding: 10px 20px;
  position: absolute;
  bottom: 10px;
  /* kaç px aşşğıda | kaç px sağda | kaç px dağınık */
  box-shadow: 4px 4px 10px orange;
}

/* ÜRÜNLER */
.product-wrapper {
  padding: 20px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
}
.product {
  max-width: 250px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.product img {
  width: 100%;
  border-radius: 10px;
}
.product-info {
  background: black;
  width: 100%;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
}
.product-info span {
}
.product-info button {
  background: orange;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}
